<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>职业履历</h2>
<div class="summary">
    <p>目前担任IBM全球软件商务系统<b>产品负责人</b>(Product Owner)和<b>业务分析师</b>（Business Analyst）。带领12人全功能研发团队负责IBM<b>企业内部应用</b>的<b>需求分析</b>和<b>产品交付</b>。 熟悉订阅类产品的生命周期以及报价到收款(Quote to Cash)的整个业务流程。负责与国外干系人沟通，梳理商业需求，挖掘用户痛点，制定项目计划，管理进度，协调资源，保证质量。
    <br>熟悉<b>敏捷开发</b>（Agile）及<b>Srcum</b>敏捷框架，作为敏捷教练带领开发团队逐渐从传统开发模式向敏捷开发转型。熟悉<b>IT项目审计</b>流程，每年代表项目组参加公司内外部的IT审计。有很强的学习能力，理解力和解决问题的能力。曾担任过测试开发职务，有<b>技术背景</b>支撑，因此能够很好的和开发团队合作沟通。</br>
	</p>
	<p>
	<a href="#" target="https://liuyang0116.github.io/LiuYangResume/"><b>https://liuyang0116.github.io/LiuYangResume/</b></a>.
	</p>
</div><!--//summary-->
</section><!--//section-->
