<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>职业履历</h2>
<div class="summary">
    <p>目前担任IBM全球软件商务系统资深业务分析师（Business Analyst）和产品负责人(Product Owner)。负责的IBM Z企业级应用处理近70亿美元的业务。全程参与IBM Z主机的计费模式的转型，负责梳理商业需求并将其拆分转化成具体的业务需求，带领团队开发测试并成功实施，最终使得Z的计费转型在负责的子应用及上下游应用可以顺利推进无缝对接。
       使用净值推荐系统（NPS）收集用户反馈并不断赶紧，在职期间净值推荐值提高了18个点。同时，应用Hotjars
	经历了IBM CIO向敏捷开发转型的全过程，同时也全程经历了IBM z主机的计费模式转型。
	熟悉Agile开发管理流程。有很强的学习能力，理解力和解决问题的能力。因为有技术背景支撑，能够很好的和开发团队沟通。</p>
	
	</p>
	<p>
	<a href="#" target="https://liuyang0116.github.io/LiuYangResume/"><b>https://liuyang0116.github.io/LiuYangResume/</b></a>.
	</p>
</div><!--//summary-->
</section><!--//section-->
