<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>职业履历</h2>
<div class="summary">
    <p>目前担任IBM全球软件商务系统产品负责人(Product Owner)和业务分析师（Business Analyst）。负责IBM Z B2B企业内部应用, 熟悉订阅类产品的生命周期以及报价到收款(Quote to Cash)的整个业务流程。带领研发团队全面支持IBM z主机计费模式的转型。负责与国外干系人沟通，梳理商业需求并将其拆分转化成具体的业务需求，制定发布计划并带领团队迭代发布高价值高质量的产品增量。 
    <br>熟悉敏捷开发（Agile）管理流程，作为敏捷教练（Agile Champion）带领开发团队逐渐从传统开发模式向敏捷开发转型。熟悉IT项目审计流程，每年代表项目组参加公司内外部的IT审计。有很强的学习能力，理解力和解决问题的能力。曾担任过测试开发职务，有技术背景支撑，因此能够很好的和开发团队合作沟通。</br>
	</p>
	<p>
	<a href="#" target="https://liuyang0116.github.io/LiuYangResume/"><b>https://liuyang0116.github.io/LiuYangResume/</b></a>.
	</p>
</div><!--//summary-->
</section><!--//section-->
