<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>项目经历</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
            <div class="upper-row">
                            <h3 class="job-title"><b>产品业务需求分析师(BA)</b></h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
						<div class="company">IBM（中国）投资有限公司, 北京</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">IBM Z Serial 大型机软件使用管理</a></span> - 
                    <span class="project-tagline"><b>项目描述：</b>CIO z大型服务器软件使用管理，共两个Web应用，分别面向IBM的客户和IBM售后支持团队使用</span>
			<p></p>		
			<p><b>个人职责：</b>基于商业战略决策，与干系人（Stakeholder）沟通并制定子应用的需求分析和业务逻辑，制定版本发布计划（Release Plan），编写用户故事（User Story），给项目关键干系人演示应用功能（Show Case）并收集反馈以便进一步改进</p>
					<br>- 主导制定多个0-1的商业决策的需求分析，并带领约10人的开发测试团队实施落地</br>
                                        <br>- 制定项目发布计划，以保证项目迭代发布高用户价值的需求</br>
					<br>- 负责所有页面的原型设计，保证沟通高效；</br>
                                        <br>- 撰写用户故事，及制定验收标准(Acceptance Criteria)；</br>
					<br>- 负责跨团队的应用业务培训，以保证上下游团队以及关键干系人能更清楚我们的应用及业务规则；</br>
					<br>- 参与及配合每年的SOX（Sarbanes-Oxley）审计，熟悉ASCA（Application Systems Control and Auditability）及ITSS（IT Security Standard）审计流程,保证应用符合审计要求</p>
			<p><b>项目价值及个人贡献：</b></p>                                        
					<p>1.全程参与IBM z主导市场近20年的计费方式的转型，分析IBM z新型计费模式，并将其拆分梳理成业务需求，按价值迭代发布，以保证新的计费方式在子应用中能顺利推广应用，同时提高IBM售后支持团队的工作效率。</p>		                        
                                        <p>2.经历了IBM CIO从传统开发模式到敏捷开发模式的转型，熟悉敏捷开发模式及项目管理</p>
			<p><b>Agile项目管理工具：</b>Jira,Trello，Mural</p>		  
					  				
					
                </div><!--//item-->
				<br></br>
						<div class="upper-row">
                            <h3 class="job-title"><b>软件测试工程师</b></h3>
                            <div class="time">2011 - 2015</div>
                        </div><!--//upper-row-->
						<div class="company">IBM（中国）投资有限公司, 北京</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">IBM Z Serial 大型机授权软件管理系统</a></span> - 
                    <span class="project-tagline"><b>项目描述：</b>CIO 大型服务器及其授权软件使用和收费管理</span>
					<p></p>
			<p><b>个人职责：</b>参与需求分析，制定测试计划，准备测试数据，设计并执行测试用例；</p>
					<p>- 自动化测试脚本的开发和维护：基于Robotframework框架和Selenium库的自动化脚本,能够利用python自定义keyword </p>
					
			<p><b>项目价值及个人贡献：</b></p>
					<p>1.自主开发Web Service的自动化测试脚本，主要语言是Python, 该脚本可以在Robotframework上运行，相比GUI的自动化测试，更高效，节约了时间成本。</p>
					<p>2.自主开发桩测试，成功的分离了应用的前后端开发，从技术上使前后端的需求可以被拆分，并在不同的迭代周期交付。</p>
					<p>3.可持续交付（CI）与自动化测试脚本的集成：利用jenkins实现CI的集成，搭建Jekins Pipeline</p>
					<p>4.利用JAVA开发java applet程序：根据用户输入自动生成大型机在数据库中的对应注册码的SQL语句。传统的作法是根据数据文件及业务流程手动修改或创建SQL语句，该工具有效的规避了手动修改需要付出大量的时间以及避免了由于手动修改带来的错误。</p>
					<p></p>
			<p><b>主要技术：</b> Web Service自动化测试，Web GUI自动化测试，Devops pipeline</p>
			<p><b>开发语言：</b>Java，Python</p>
					<p></p>
					
                </div><!--//item-->
				<br></br>
				<div class="upper-row">
                            <h3 class="job-title"><b>软件测试工程师</b></h3>
                            <div class="time">2009 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">金雅拓（中国）投资有限公司, 北京</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">后台数据分析应用（ETL）的测试</a></span>
					<span class="project-tagline"></span>
			<p></p>
                <p><b>个人职责：</b>制定测试计划，设计测试用例，搭建测试环境，准备测试数据，设计并开发基于shUnit的自动化测试框架及脚本，实施测试用例 </p>
				<p><b>个人贡献：</b>
				利用shUnit + shell脚本验证ETL的业务逻辑，错误处理，数据完整性
				</p>
				<p>根据业务逻辑准备测试数据并利用自动化测试脚本验证ETL的业务逻辑，错误处理，数据完整性 ；</p>
				<p>开发的自动化测试脚本实现了在回归测试中对ETL业务逻辑的验证 ；</p>
				</p>
				<p><b>测试及开发环境：</b>Redhat4 + Oracle10.0.2</p>
				<p><b>主要技术：</b>Linux/Unix命令，ETL测试，Shell编程，shUnit，</p>
				</div><!--//item-->
            </section><!--//section-->
