<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>项目经历</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
            <div class="upper-row">
                            <h3 class="job-title"><b>产品负责人（Product Owner）& 业务需求分析师(Business Analyst)</b></h3>
                            <div class="time">2015 - 至今</div>
                        </div><!--//upper-row-->
						<div class="company">IBM（中国）投资有限公司, 北京</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">IBM Z 主机软件管理的企业端应用</a></span> - 
                    <span class="project-tagline"><b>项目描述：</b>给IBM市场销售及技术支持团队提供的企业端应用，帮助其管理全球客户的Z 主机的软件授权，根据用户的每月使用量及主机业务规则校验软件许可。该产品给IBM内部多种用户角色分别提供不同的业务功能，以帮助其提高工作效率，降低成本的同时强化了内部流程管理和风险控制。</span>
			<p></p>		
			
			<p><b>个人价值及贡献：</b></p> 
					<ol>
					<li>全程参与IBM Z主导市场近20年的计费方式的转型，分析IBM Z新型计费模式，并将其拆分梳理成业务需求，按价值迭代发布。新的计费方式在B端应用中得到很好的支持，节省了约84%的工作时间。</li>		                        
                                        <li>提出的解决方案优化了z主机从报价到下单的业务流程，从原来需要线下报价，线上配置优化整合为线上一体服务。使多个B端产品高效整合，提高效率，提升用户体验。</li>
			                <li>主导多个0-1的商业需求的需求分析，带领约10人的开发测试团队实施落地。</li>
	                                <li>带领团队从传统开发模式转型到敏捷开发模式，熟悉敏捷开发及其项目管理。</li></ol>
			
			<p><b>个人职责：</b>基于商业战略决策，与干系人（Stakeholder）沟通并制定子应用的需求分析和业务逻辑，制定版本发布计划（Release Plan），编写用户故事（User Story），给项目关键干系人演示应用功能（Show Case）并收集反馈以便进一步改进</p>
					<ul>
                                        <li>梳理故事地图（Story map），制定项目发布计划，以保证项目按照MVP迭代发布高用户价值的需求</li>
					<li>提出针对具体业务的长期解决方案，并根据实际使用情况和反馈进行不断改进，从而提高用户体验和产品净推荐值（NPS）</li>
					<li>参与及配合每年的SOX（Sarbanes-Oxley）审计，熟悉ASCA（Application Systems Control and Auditability）及ITSS（IT Security Standard）审计流程,保证应用符合审计要求</li>
					<li>负责跨团队的应用业务培训，以保证上下游团队以及关键干系人能更清楚我们的应用及业务规则；</li>
                                        <li>跨部门协调多方角色推进项目顺利开展，保证项目按时高质量的交付；</li><ul>
			<p><b>项目管理工具：</b>Jira,Trello，Mural</p>		  
					  				
					
                </div><!--//item-->
				<br></br>
						<div class="upper-row">
                            <h3 class="job-title"><b>软件自动化测试开发</b></h3>
                            <div class="time">2011 - 2015</div>
                        </div><!--//upper-row-->
						<div class="company">IBM（中国）投资有限公司, 北京</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">IBM Z Serial 大型主机授权软件管理</a></span>
					<p></p>
			<p><b>个人价值及贡献：</b></p>
					<ol>
					<li>负责策划质量改进，制订自动化测试策略。根据精益测试原理，合理设计单元测试，功能测试，及接口测试。提升了测试效率的同时降低了项目风险；</li>
					<li>利用Docker+ Jenkins搭建CI/CD pipeline, 从而优化了产品研发测试上线流程，实现一键部署，自动执行测试脚本及回归测试；</li>
					<li>引进和完善测试方法，构建基于Robotframework的自动化测试；开发的基于selenium的自动化测试脚本，100%覆盖页面功能（GUI）的回归测试。同时开发基于Robotframework的Web Service接口测试，提升测试效率；</li></ol>
			<p><b>个人职责：</b></p>
					<ul>
			                <li>参与需求分析与评审，制定测试计划与流程，设计测试用例并指导测试人员执行测试；</li>
			                <li>结合当前项目开发模式，制定测试策略。改进测试方法及管理，并推进测试策略的落地和实施；</li>
					<li>对于跨团队合作项目，负责协调多方角色推进业务功能的落地和交付；</li>
					<li>与开发团队一起快速定位生产和测试的产品缺陷,推动缺陷的解决；</li>
					<li>负责培训团队新人了解产品业务知识；</li>
			</ul>
					<p></p>
			<p><b>主要技术：</b> Web Service自动化测试，Web GUI自动化测试，Devops pipeline</p>
			<p><b>开发语言：</b>Java，Python</p>
					<p></p>
					
                </div><!--//item-->
				<br></br>
				<div class="upper-row">
                            <h3 class="job-title"><b>软件测试开发工程师</b></h3>
                            <div class="time">2009 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">金雅拓（中国）投资有限公司, 北京</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">后台数据分析应用（ETL）的测试</a></span>
					<span class="project-tagline"></span>
			<p></p>
			<p><b>个人价值及贡献：</b>
				根据业务逻辑准备测试数据并利用自动化测试脚本（shUnit + shell脚本）验证ETL的业务逻辑，错误处理，数据完整性 ；
				</p>
                        <p><b>个人职责：</b>制定测试计划，设计测试用例，搭建测试环境，准备测试数据，设计并开发基于shUnit的自动化测试框架及脚本，实施测试用例 </p>		
				</p>
				<p><b>测试及开发环境：</b>Redhat4 + Oracle10.0.2</p>
				<p><b>主要技术：</b>Linux/Unix命令，Shell编程</p>
				</div><!--//item-->
            </section><!--//section-->
