<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="{{site.baseurl}}/assets/images/Life photo.png">
                <h1 class="name">{% if site.name %}{{site.name}}{% else %}刘洋{% endif %}</h1>
               <div class="item"><h3 class="tagline">产品负责人</h3></div>
              <div class="item"><h3 class="tagline">业务分析师</h3></div>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
   
     
                    <li><i class="fa fa-user" aria-hidden="true"></i>1985.01</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i>28394073@qq.com</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>18911631236</li> 
                    
                   
                    
                    {% if site.github %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank">github.com/{{site.github}}</a></li>
                    {% else %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/sharu725" target="_blank">github.com/sharu725</a></li>
                    {% endif %}
                    
                    
                    
                </ul>
            </div><!--//contact-container-->
           {% include education.html %}
           {% include language.html %}
           {% include interests.html %}
        
            
        </div><!--//sidebar-wrapper-->
